---
import {profile} from '../../data/data.json'
---
<footer class="relative w-full overflow-hidden min-h-[300px] sm:min-h-[300px] md:min-h-[250px] flex justify-items-start  items-center flex-col p-10 ">
    <div class="max-w-7xl w-full flex flex-col md:flex-row justify-between items-center px-8 gap-5">
         <div><b>Let’s work together</b></div>
         <ul class="flex flex-col md:flex-row list-none gap-2 md:gap-7 items-center">
            <li><a href={`mailto:${profile.email}`} class="hover:border-b">Email</a></li>
            <li><a href={profile.social.linkedin} target="_blank" rel="noopener noreferrer" class="hover:border-b">LinkedIn</a></li>
            <li><a href={`tel:${profile.phone}`} class="hover:border-b">WhatsApp</a></li>
            <li><a href={profile.social.github} target="_blank" rel="noopener noreferrer" class="hover:border-b">GitHub</a></li>
        </ul>
    </div>
    <div class="absolute bottom-[0px] flex justify-center flex-col items-center p-8 pb-0 z-10">
        <div class="md:max-w-5xl text-center py-4 text-gray-400 text-sm">
            &copy; {new Date().getFullYear()} Create by <span class="underline"><a href={profile.social.linkedin}>Daniel Tunjano</a></span>. All rights reserved.
        </div>
    </div>
    <h1 class="absolute bottom-[-4rem] sm:bottom-[-6rem] md:bottom-[-8rem] lg:bottom-[-12rem] left-1/2 transform -translate-x-1/2 
               text-[7rem] sm:text-[10rem] md:text-[12rem] lg:text-[18rem] 
               whitespace-nowrap font-bold opacity-[0.15] 
               text-gray-200 dark:text-gray-400
               select-none pointer-events-none
               tracking-tighter">
        DANIELTB
    </h1>
</footer>