---
import ProjectCard from '../ui/Card.astro';
import projectsData from '../../data/projects.json';

interface ProjectData {
    title: string;
    slug: string;
    image: {
        src: string;
        alt: string;
    };
    tags: string[];
    link: {
        href: string;
        text: string;
        external: boolean;
    };
}

const projects: ProjectData[] = projectsData;
---

<div class="flex justify-center flex-col items-center mt-10 p-0 md:p-16">
    <h2 class="text-3xl font-bold mb-4 md:mb-20 text-center">Proyectos</h2>
    <div class="grid grid-cols-1 gap-2 md:gap-6 max-w-6xl w-[90%]">
        {projects.map((project) => (
            <ProjectCard
                class="w-full last:mb-10"
                title={project.title}
                slug={project.slug}
                image={project.image}
                tags={project.tags}
                link={{
                    href: `/projects/${project.slug}`,  // Corregido aquí
                    text: "Ver Proyecto",
                    external: false
                }}
                variant="minimal"
            />
        ))}
    </div>
</div>